.navbar-inverse{
    height: 100px;
    background-color: white;
    border-color: white;
}
li.active.dropdown{
    background-color: whitesmoke
}


#text{
  padding-right:30px;
}
#text + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}
.form-group{
  margin-top:19px;
}
#search{
  margin-left:154px;
  margin-top:14px;
}





#navbar{
    margin-top:9px;
}
#home{
    height: 150px;
}
#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-image:none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color:bisque;
}
.navbar-nav{
   padding-left: 40%;
    float: none;
}
.nav navbar-nav.navbar-right li a{
    color:blue;
}


.carousel-fade .carousel-inner .item {
  opacity: 1;
   transition-property: opacity;
  transition-duration: 6s;
  transition-timing-function:linear;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}


.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 1;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
@media only screen and(max-width:48`0px){
    #inputEmail{
        width: 100%;
    }
}
#email{
    background-color: bisque;
    height: 70px;
    width: 100%
}

.form-control-feedback{
    position: absolute;
    margin-top: 12px;
    margin-right: 450px;
}
#line{
    font-family: "BebasNeueRegular";
    font-size: 18px;
    line-height:50px;
    letter-spacing:4px;
    color:grey;
}

#line:after,
#line:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
    
}

.titlebox{
    width:80px;
    margin-top: -19px;
    margin-left: 76px;
    background: white;
    letter-spacing: 3px;
    color:grey;
    
}
.social {
    margin-top:55px;
    border: 0.5px solid grey;
    padding:10px;
    width:290px;
    height:50px;
}
.subscribe{
    font-family: "BebaseNeueThin";
    border:0.5px solid grey;
    margin-top:25px;
    padding:10px;
    width:290px;
    height:97px;
    /*font-size: 17px;*/
     letter-spacing: 2px;

}
.wishlist{
     font-family: "BebaseNeueThin";
    border:0.5px solid grey;
    margin-top:25px;
    padding:10px;
    width:290px;
    height:407px;
    /*font-size: 17px;*/
     letter-spacing: 3px;
}
.favorites{
  font-family: "BebaseNeueThin";
    border:0.5px solid grey;
    margin-top:25px;
    padding:10px;
    width:290px;
    height:997px;
    letter-spacing: 3px;
}
#log{
  width:260px;
  margin-top:7px;
}
#log3{
  width: 260px;
  margin-top:6px;
}
#log2{
  width: 260px;
  margin-top:25px;
}
#log4{
  width: 260px;
  margin-top:-9px;
}
#small{
  width: 220px;
  height: 380px;
}
.carousel-inner{
  background-color: none;
}

#dif{
  margin-top:32px;
}
#myCarousel{
  height:259px;
}
.social ul li {
    margin: 10px;
    margin-top:-12px;
    list-style: none outside none;
    display: inline-block;
}
.social1{
  margin:0;
  padding:0;
}
.social1 ul{
    margin:0;
    padding:55px;
}
.social1 ul li {
    margin: 15px;
    list-style: none outside none;
    display: inline-block;
    font-size:22px;
    color:bisque;
}
.fa.fa-lg {
  color:bisque;
}

#subscribetext{
    font-family: "BebaseNeueThin";
    font-size: 17px;
    letter-spacing: 3px;
    display: inline;
    margin-right:75px;
    color:grey;
}
#triangle p{
  font-family: "BebasNeueRegular";
  font-weight: 400;
  font-style: normal;
  letter-spacing: .2em;
  line-height: 37px;
  font-size: 30px;

}
@font-face {font-family: 'BebasNeueRegular'; 
      src:url('BebasNeueRegular.otf');
}
@font-face {font-family: 'BebaseNeueThin'; 
      src:url('BebasNeueRegular.otf');
}
button{
  border:2px solid bisque;
  width: 100px;
  height: 54px;
  background-color: white;
  font-family: "BebasNeueRegular";
  color:grey;
  letter-spacing: 2px
}
#smallpic{
  border:1px solid grey;

 /* height:175px;*/
 /* width: 75%;*/
 /* margin-top:-45px;*/
  border-left: none;
  border-right: none;
}
.titleboxs{
    width:80px;
    margin-top: -13px;
    margin-left: 190px;
    background: white;
    letter-spacing: 3px;
    color:grey;
    
}

#related{
 /* margin-top:-19px;*/
  width: 130px;
  height:134px;
  display: inline;
 /* margin:12px;*/
  padding:10px;
/*  margin:52px;*/
  border:1px solid white;
  margin-bottom: 12px;
}
.footer{
  width: 120px;
  height:110px;
  display: inline;
  font-size: 0;
  border: 0px;
  font-size: 0px;
}
#footers{
  margin-left:0;
  padding-right:0;
  margin-right:0;
  padding-left:0;
  border: 0;
}
@media only screen and (max-width: 780px){
    #sign {
        display: none;
    }
}
@media only screen and (max-width: 500px){
   #search{
      display: none;
   }
}




